.login-logo a, .register-logo a {
    color: #547980;
}

.table th a {
	margin-right: 6px;
	margin-left: 6px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-l-5 {
    margin-left: 5px;
}
.m-t-10{
    margin-top: 10px !important;
}
.fsel {
    border-radius: 4px;
    height: 30px;
}
.m-5 {
	margin: 5px;
}
.error {
    color: #dd4b39;
    border-color: #dd4b39;
}
.e400 {
    width: 430px;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap;
}